@media screen and  (max-width:600px){
    allplayer_list {
        grid-template-columns: repeat(2,1fr);
    }
     heighlight_inner{
        grid-template-columns: repeat(1,1fr);
    }

}

@meida screen and (min-width:600px){
    .heighlight_inner {
       
        grid-template-columns: repeat(2,1fr);
    }
    .allplayer_list {
        grid-template-columns: repeat(2,1fr);
    }
}